WEBSERVER_DOC_ROOT=/var/www/html
HTTPD_PREFIX=/usr/local/apache2
PROXY_PREFIX=/etc/nginx
LOCAL_TIMEZONE=America/Los_Angeles

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_DOMAINS=example.com,*.example.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt

PHP_IMAGE_NAME=php7.3-fpm
PHP_FPM_PREFIX=/usr/local/etc

WORDPRESS_DB_USER=db_user
WORDPRESS_DB_PASSWORD=db_password
WORDPRESS_DB_NAME=db_name
WORDPRESS_TABLE_PREFIX=wp_

MYSQL_CONF_PREFIX=/etc/mysql/conf.d
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_ROOT_HOST=%
DATABASE_IMAGE_NAME=mariadb
DATABASE_CONT_NAME=mariadb
DATABASE_VERSION=latest

PMA_CONTROLUSER=pma_user
PMA_CONTROLPASS=pma_password
PMA_CONF_FOLDER=/etc/phpmyadmin 
PMA_HTPASSWD_USERNAME=db_user
PMA_HTPASSWD_PASSWORD=db_password
PMA_MEMORY_LIMIT=-1

REDIS_CONF_PREFIX=/usr/local/etc
